.cart .title{
	color: #f40;
}


.title h1{
	font-weight: 800;
}


.cart-area{
	margin-top: 40px;
}

.cart-span1{
	color: #f40;
	font-size: 20px;
	font-weight: 700;
}

.cart-i{
	font-weight: 200;
}

.cart-navbar{
	padding: 10px 0;
	border-bottom: 2px solid #eeeeee;
}

.cart-top{
	margin-top: 15px;
}

.top-right .span1{
	padding-right: 120px;
}

.top-right .span2{
	padding-right: 50px;
}

.top-left .span1{
	margin-left: 60px;
}

.top-span1{
	margin-left: 10px;
}

.top-left .span2{
	margin-left: 50px;
}

.buttom-txt{
	padding: 13px 4px;
}

.buttom{
	background-color: #e5e5e5;
	height: 50px;
	position: relative;
}

.buttom-submit{
	position: absolute;
	right: 0;
	top: 0px;
	height: 100%;
	border-radius: 0;
}

.buttom-txt .top-right{
	margin-right: 50px;
}




/*订单*/
.Order-img{
	width: 70px;
}

.Order{
	padding: 20px 8px;
	border: 1px solid #ccc;
	margin: 10px 0;
}

.Order .span1{
	margin-right: 120px;
}

.Order .span2{
	margin-right: 50px;
}

.Order-right{
	margin-top: 9px;
}

.Order .span3{
	margin-left: 20px;
}

.time{
 float: left ;
 margin-right:140px;
}

.form-control{
	width: 80px;
	float: right;
}