@media only screen and (max-width: 800px){
  body .video_left{
    padding-left: 0;
  }

  body .video_right{
    padding-right: 0;
  }
}



.video{
  background-color: #6E7B8B;
  margin-top: 53px;
}

.video video{
  width: 100%;
  height: 100%;
}

.video_left a{
  color: black;
}

.video_left a i{
  margin-top: 20px;
}

.video_left_a2{
  display: none;
}

.video_footer{
  background-color: #fff;
}

.video .content{
  padding-top: 50px;
  padding-bottom: 55px;
}

.video_left{
  padding-right: 0px;
}

.video_right{
  padding-left: 0;
}

.video_right_area{
  height: 501px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0px;
}

.video_right_area .one{
  padding: 10px 0;
  border-bottom: 1px solid #333333;
  background-color: #212020;
}

.video_right_title{
  color: #7b8b8e;
  position: relative;
  background-color: #212020;
  box-shadow: 0px 1px 6px #000;
  height: 80px;
  padding: 5px;
}

.video_right_title i{
  color: #008cba;
}

.video_footer_area{
  padding-top: 20px;
}

.fat_p2 .a{
  padding: 2px 5px;
  background-color: #ddd;
  margin: 2px 2px;
  border-radius: 3px;
}

.fat_p1{
  padding: 14px 0;
}

.footer_area_navbar{
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  padding-left: 0;
}

ul{
  list-style-type: none;
}

.footer_area_navbar li{
  background-color: #7b8b8e;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ddd;
  margin-right: 2px;
  padding: 10px 15px;
}

.footer_area_navbar a{
  color: #333;
}

.footer_area_title{
  margin-bottom: 30px;
}

.footer_area_content{
  padding-bottom: 30px;
  padding-top: 10px;
  margin-bottom: 100px;
}



.fac_a1{
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.fac_2area_p{
  background-color: #eeeeee;
  margin: 50px 0 25px 0;
  padding: 10px 0 10px 4px;
}

.fac_text_title li{
  padding: 3px 7px;
  margin-left: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #ddd;
}

ul{
  margin-bottom: 0;
}

.form-control{
  height: 100px;
}

.fac_2area_p2{
  margin-top: 0;
  background-color: #eeeeee;
  padding: 10px 0 10px 4px;
}

.fac_2area_text button{
  padding: 6px 23px;
}



.ppt{
  padding: 10px 23px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.video_footer_area .footer_area_navbar .fac_active{
  background-color: #fff;
}

.video_footer_area .footer_area_content .fac_active{
  display: block;
}

.fac{
  display: none;
}


